<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="Seline" href="img/Seline.ico">
	<title>RANNIE</title>
	<style>


	body{
		background:url(img/nae.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; : 
</style>


	<link rel="stylesheet" type="text/css" href="css/app.css">
	
</head>
<embed height="80" width="100" src="mp3/Renholder - Falling Through The Sky.mp3">
<body background="img/nae.jpg"> 
<font size = "5" face="Imprint MT Shadow">
<a href="/">BACK TO HOME</a>
<div id = "app"></div>
</font>
<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.90/css/materialize.min.js"></script>
<script type="text/javascript" src = "js/app.js"></script>


</body>
</html>

