<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="img/logos.png">
	<title>CARDINO</title>
	<style>
	body{
		background:url(img/h.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; : 
</style>
	<link rel="stylesheet" type="text/css" href="css/re2.css">
	
</head>
<embed height="80" width="100" src="mp3/Chester Bennington - Morning After (Julien K. Rmx) (Underworld- Evolution).mp3">
<body background="img/h.jpg"> 
<font size = "5" face="Imprint MT Shadow">
<a href="/">BACK TO HOME</a>
<div id = "app"></div>
</font>

<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.90/css/materialize.min.js"></script>
<script type="text/javascript" src = "js/re2.js"></script>
</body>
</html>


 

 

