<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="Seline" href="img/Seline.ico">
	<title>CARDINO</title>
	<style>
	body{
		background:url(img/ev.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; : 
</style>
	<link rel="stylesheet" type="text/css" href="css/re4.css">
	
</head>
<embed height="80" width="100" src="mp3/Evanescence - Made of Stone (Renholder Remix).mp3">
<body background="img/ev.jpg"> 
<font size = "5" face="Imprint MT Shadow">
<a href="/">BACK TO HOME</a>
<div id = "app"></div>
</font>
<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.90/css/materialize.min.js"></script>
<script type="text/javascript" src = "js/re4.js"></script>
</body>
</html>






